<ion-view style="" title="Best Western">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <div style="text-align: center;">
            <img src="img/Y4Gja4V2TgmF1BiSu2jK_bw1.jpg" height="auto" width="100%">
            <div class="imgText">
                <p>
                Petite activité gastronomique près de l'hotel pour découvrir une nouvelle expérience ! Des prix pas trop chère
                </p>

                <p ng-model="activities" ng-repeat="activity in activities">{{activity.title_en}}</p>
            </div>
        </div>
        <div style="" class="button-bar">
            <button style="height: 80px; border-radius: 0;" class="button button-assertive button-block  icon ion-close-round button-full"></button>
            <button style="height: 80px;" class="button button-stable button-block  icon ion-star"></button>
            <button style="height: 80px; border-radius: 0;" class="button button-balanced button-block  icon ion-checkmark-round"></button>
        </div>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>