<ion-view style="" title="Best Western">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <div style="text-align: center;">
            <img src="img/Y4Gja4V2TgmF1BiSu2jK_bw1.jpg" height="auto" width="100%">
        </div>
        <div style="" class="button-bar">
            <button style="" class="button button-assertive button-block  icon ion-android-cancel button-full"></button>
            <button style="" class="button button-stable button-block  icon ion-android-favorite"></button>
            <button style="" class="button button-balanced button-block  icon ion-checkmark-circled"></button>
        </div>
        <ion-list style=""></ion-list>
        <div style="">
            <p>Petite activité gastronomique près de l'hotel pour découvrir une nouvelle expérience ! Des prix pas trop chère</p>
        </div>
    </ion-content>
</ion-view>