<ion-view title="Best Western" class="accueil">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
        <div class="header-iphone"></div>
        <div class="row">
            <div class="col col-50 share">
                <span class="ion-share"></span>
            </div>
            <div class="col col-50 filter">
                <span class="ion-funnel"></span>
            </div>
            
        </div>
        <div style="text-align: center;">
            <img src="img/{{activity.cover}}" height="auto" width="100%">
            <div class="imgText" >
                <p ng-model="activity">
                    {{ activity.title_en }}
                    <br>
                    {{ activity.price }}
                </p>
            </div>
        </div>
     
        <div id="btn-control">
            <div class="tab-control" ng-controller="btnActionCtrl">
                <button style="background-color: #EB232E;" ng-click="passer()">
                    <span class="ion-close-round button-full"></span>
                </button>
                <div>Passer</div>
            </div>
            <div class="tab-control" ng-controller="btnActionCtrl">
                <button style="background-color: #EB9423;" ng-click="favoris()">
                    <span class="ion-star"></span>
                </button>
                <div>Favoris</div>
            </div>
            <div class="tab-control" ng-controller="btnActionCtrl">
                <button ng-click="addDateInCalendar()" style="background-color: #2ABB6E;" ng-click="reserver()">
                    <span class="ion-calendar"></span>
                </button>
                <div>Réserver</div>
            </div>
        </div>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>