<ion-view style="" title="Favoris">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="false">
        <h1 style="">Mes favoris</h1>
        <ion-list style="">
            <label style="" name="categorie" class="item item-select">
                <span class="input-label">Catégorie</span>
                <select>
                    <option>Gastronomie</option>
                    <option>Activitié en pleine air</option>
                    <option>Activité d'intérieure</option>
                    <option>Services</option>
                </select>
            </label>
            <ion-item style="">Bar de l'hotel de ville</ion-item>
            <ion-item style="">Jet Ski</ion-item>
            <ion-item style="">Poker</ion-item>
        </ion-list>
    </ion-content>
</ion-view>