<ion-view style="" title="Favoris">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
    <div class="header-iphone"></div>
            
        <h1 style=""><span class="ion-star" style="font-size:30px; margin: 0 10px;"></span>Mes favoris</h1>
        <ion-list style="">
            <label style="" name="categorie" class="item item-select">
                <span class="input-label">Catégorie</span>
                <select>
                    <option>Gastronomie</option>
                    <option>Activitié en pleine air</option>
                    <option>Activité d'intérieure</option>
                    <option>Services</option>
                </select>
            </label>
            <br>
            <ion-item ng-model="allFavoris" ng-repeat="favoris in allFavoris">
                {{ favoris.title }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>