<ion-view style="" title="Profile">
    <ion-content scroll="false" overflow-scroll="true" padding="false">
    <div class="header-iphone"></div>
        <ion-list style="">
            <ion-item style="">Jean Claude</ion-item>
            <ion-item style="">Diamant</ion-item>
            <label style="" name="langue" class="item item-select">
                <span class="input-label">Langue</span>
                <select>
                    <option>Français</option>
                    <option>Anglais</option>
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>