<ion-view style="background: #e6ecf2" title="Profile">
    <ion-content scroll="true" overflow-scroll="true" padding="false">
        <div class="header-iphone"></div>
        <div class="carousel" style="position: relative;">
            <div class="img-service" style="position: absolute; background-color: #002e69; height: 180px; width: 100%">
            </div>

        </div>
        <div class="profil">
            <p>Your Profile</p>
            <img src="img/Photo-user.png" alt="" width="25%" style="top: 150px; margin-top: 10px;z-index: 2000;">
            <div class="name"><p>Barack OBAMA</p></div>
        </div>
        <div class="timeline" style="position: absolute; top: 50%;">
            <ul>
                <li>
                    Status Rewards
                    <div class="row">
                        <div class="col col-50">
                            <ul>
                                <li style="font-weight: 400; font-size: 14px">Your are part of our GOLD guest community </li>
                            </ul>
                        </div>
                        <div class="col col-50">
                            <img src="img/Gold-card.png" alt="" width="70%">
                        </div>
                    </div>
                </li>
                <li>
                    Guest Number
                    <div class="row">
                        <div class="col col-50">
                            <ul>
                                <li style="font-weight: 400; font-size: 14px">FJIE-3993-JDEO-9430 </li>
                            </ul>
                        </div>
                </li>
                <li>
                    Room Number
                    <div class="row">
                        <div class="col col-100">
                            <ul>
                                <li style="font-weight: 400; font-size: 14px">You are staying in our Best Western hotel in Paris. Your room numer is 74b</li>
                            </ul>
                        </div>
                </li>
            </ul>
        </div>
        <div class="logo-ask">
            <img src="img/Ask-ecran1.png" >
        </div>

    </ion-content>
</ion-view>